<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div id="SidBar" class="col-span-2">
    <app-menu-lateral-etapa></app-menu-lateral-etapa>
  </div>
  <div class="flex content-center justify-between items-center bg-gray-100 mt-[80px]">
    <app-breadcrumb-etapa></app-breadcrumb-etapa>
    <app-barra-pesquisa-etapa></app-barra-pesquisa-etapa>
  </div>
  <div class="ml-8 mt-4 mb-8">
    <app-track-page-etapa></app-track-page-etapa>
  </div>
  <div class="flex content-center justify-between items-center bg-gray-100 ml-8">
    <app-buscar-etapa></app-buscar-etapa>
    <app-modal-criar-etapa></app-modal-criar-etapa>
  </div>
  <div>
    <app-gerenciamento-etapa-components></app-gerenciamento-etapa-components>
  </div>
</div>
