<div class="navbar">
<app-navbar></app-navbar>
</div>
<div class="flex content-center justify-between items-center bg-gray-100 mt-[95px] ml-[270px]">
  <app-breadcrumb></app-breadcrumb>
  <app-busca></app-busca>
</div>
<div class="flex h-[100%]">
  <div id="SidBar" class="col-span-2 bg-gray-500 w-[13.50%]" style="margin-top: 65px;">
    <app-menu-lateral></app-menu-lateral>
  </div>
  <div class="p-4 bg-gray-100 flex-grow" style="max-height: 200vh; overflow-y: auto; margin-top: 20px;">
    <div class="meio space-y-8">
      <div class="barra-esquerda"></div>

      <div class="secao1 mb-8 ml-8">
        <app-calendar></app-calendar>
      </div>
      <div class="secao2 mb-8">
        <div class="secao-cards mb-8" style="width: 75%;">
          <app-cards
            [listaArquivos]="listaArquivos"
            [listaArquivosAprovados]="listaArquivosAprovados"
            [listaArquivosReprovados]="listaArquivosReprovados"
            [listaArquivosPendentes]="listaArquivosPendentes"
          ></app-cards>
           <div class="info-grafico ml-8" style="display: flex; flex-direction: row; gap: 1rem; width: 100%;">
            <app-user-info style="flex: 1;"></app-user-info>
          </div>
        </div>
        <div class="arquivos" style="width: 35%;">
          <app-arquivos-recentes></app-arquivos-recentes>
        </div>
      </div>
    </div>
  </div>
</div>
