<!-- TAB VISUALIZAÇÃO -->

<div class="flex flex-col items-center space-y-6"> 
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-6">
      <a href="#">
        <img class="rounded-t-lg" src="/assets/imagens/Modeloplanta.png" alt="" />
      </a>
    </div>
  
    <div class="w-full mb-6"> 
      <th scope="row" class="flex items-center py-4 font-medium text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
        <img class="w-20 h-20" src="/assets/images/PDFimg.png" alt="">
        <div class="ml-3 w-full flex justify-between">
          <div>
            <div class="text-base font-semibold">PL-SUBSOLO</div>
            <div class="font-normal text-gray-500">27/04/2024</div>
            <div class="font-normal text-gray-500">6°REV • 18 MB • PDF</div>
          </div>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </th>
    </div>
  
    <div class="w-full mb-6"> 
      <th scope="row" class="flex items-center py-4 text-left text-gray-900 whitespace-nowrap dark:text-white border-b border-gray-200 dark:border-gray-700">
        <img class="w-20 h-20" src="/assets/images/DWGimg.png" alt="">
        <div class="ml-2 w-full flex justify-between">
          <div>
            <div class="text-base font-semibold">PL-SUBSOLO</div>
            <div class="font-normal text-gray-500">27/04/2024</div>
            <div class="font-normal text-gray-500">6°REV • 18 MB • DWG</div>
          </div>
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M13 11.15V4a1 1 0 1 0-2 0v7.15L8.78 8.374a1 1 0 1 0-1.56 1.25l4 5a1 1 0 0 0 1.56 0l4-5a1 1 0 1 0-1.56-1.25L13 11.15Z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M9.657 15.874 7.358 13H5a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2h-2.358l-2.3 2.874a3 3 0 0 1-4.685 0ZM17 16a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H17Z" clip-rule="evenodd"/>
          </svg>
        </div>
      </th>
    </div>
  
    <div class="flex flex-col items-start w-full space-y-4"> 
      <div class="flex items-center mb-4"> 
        <svg class="w-6 h-6 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.005 11.19V12l6.998 4.042L19 12v-.81M5 16.15v.81L11.997 21l6.998-4.042v-.81M12.003 3 5.005 7.042l6.998 4.042L19 7.042 12.003 3Z"/>
        </svg>
        <div class="font-normal">Subsolo</div>
      </div>
  
      <div class="flex items-center">
        <svg class="w-6 h-6 text-gray-800 dark:text-white mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"/>
        </svg>
        <div class="font-normal text-gray-500">Criado em: 20/04/2024</div>
      </div>
    </div>
  </div>
  